
#wrapper {
  background-color: #333;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#container {
  max-width: 720px;
  padding: 80px 40px;
  text-align: center;
  color: white;
}

#title {
  color: #0DC447;
  font-size: 4em;
  margin-bottom: 30px;
}

a {
  color: #0DC447;

}
